.expense-container {
  width: 5.5rem;
  height: 5.5rem;
  border: 0.2rem solid #000;
  border-radius: 1rem;
  margin-top: 3.5rem;
  box-shadow: 3px 3px 5px #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expense-container-modal {
  width: 5.5rem;
  height: 5.5rem;
  border: 0.2rem solid #000;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-type {
  margin: 0;
  font-size: 1.2rem;
  position: absolute;
  bottom: -2rem;
  width: 160%;
  text-align: center;
}

.icon {
  font-size: 3rem;
}

.btn__delete-category {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  font-size: 2rem;
  /* z-index: 5; */
}


.expense-container:hover {
  color: #555;
  border: 0.2rem solid #555;
  box-shadow: none;
}