.expense-container {
  width: 5.5rem;
  height: 5.5rem;
  border: 0.2rem solid #000;
  border-radius: 1rem;
  margin-top: 3.5rem;
  box-shadow: 3px 3px 5px #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-type {
  margin: 0;
  font-size: 1.2rem;
  position: absolute;
  bottom: -2rem;
  width: 100%;
  text-align: center;
}

.icon {
  font-size: 3rem;
}


.expense-container:hover {
  color: #555;
  border: 0.2rem solid #555;
  box-shadow: none;
}