.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
}

.signed-in-as {
  font-size: 0.8rem;
  padding-left: 2rem;
}

.user-name {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
}